@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Nunito:wght@300&family=Poppins&family=Raleway:wght@300&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap");

:root {
  --color-background-light: #f5f5f5d2;
  --color-text-light: #464646;
  --color-title-light: #272727;
  --color-border-light: #bbbbbb;
  --color-nav_bar-hover: #ececec;
  --background-bar-light: #d4d4d4;
  --background-light: #fff;
  --color-light: #868bbb33;
  --color-black: #000;
  --text-gray: #636363;
  --box-shadow: 0 2rem 3rem #848bc826;
  --box-shadow-header: 1px 0 0.4rem 0 #989898;
  --color-date-background: #dbdbdb;
  --box-shadow-date-hover: 0 4rem 5rem rgba(132, 139, 200, 0.15);
  --box-shadow-title: 0 0 0.4rem 0 #989898;
  --border-bottom: 1px solid #d8d8d8;
  --color-circle: #008573;
  --color-fa-circle: #ffffff;
  --color-border-span-hover: #757575;
  --color-background-span-hover: linear-gradient(90deg, #d8d8d8, #dfdfdf);
  --color-see-all: #767676;
  --color-background-input: rgb(247, 247, 247);
  --color-fa-star: #ffee00;
  --color-search-focus: #fff;
  --selection-background-color: #5d8de7;
  --color-hamburguer-menu: rgba(20, 20, 20, 0.877);
  --color-webkit-scrollbar: rgba(0, 0, 0, 0.4);
  --color-webkit-scrollbar-hover: rgba(0, 0, 0, 0.5);
}

.dark-theme {
  --color-background-light: #17191d;
  --background-light: #1e2325;
  --color-title-light: #e2e2e2;
  --color-text-light: #e9e8e8b4;
  --box-shadow-header: 0 0 0.4rem 0 #0f0f0f;
  --color-date-background: #414141;
  --box-shadow: 0 2rem 3rem #00000026;
  --box-shadow-date-hover: 0 4rem 5rem #00000026;
  --box-shadow-title: 0 0 0.4rem 0 #0f0f0f;
  --border-bottom: 1px solid #4e4e4e;
  --color-circle: #009b86;
  --color-fa-circle: #e0dede;
  --color-border-span-hover: #757575;
  --color-background-span-hover: linear-gradient(90deg, #2b2b2b, #272727);
  --color-subtitle: rgb(212, 212, 212);
  --text-gray: #979797;
  --color-see-all: #8f8f8f;
  --color-fa-star: #bdb000;
  --color-background-input: rgb(20, 20, 20);
  --color-search-focus: rgb(0, 0, 0);
  --selection-background-color: #5065a5;
  --color-hamburguer-menu: rgba(245, 239, 239, 0.829);
  --color-webkit-scrollbar: rgb(102, 102, 102);
  --color-webkit-scrollbar-hover: rgb(80, 80, 80);
}

/*-------------------------------------------------------------------------------------------*/

*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
body, html {
  overflow-x: hidden !important;
}
body {
  background-color: var(--color-background-light);
  display: flex;
  width: 100vw;
  padding-left: 18.5%;
}
::selection {
  background-color: var(--selection-background-color);
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
::-webkit-scrollbar {
  width: 10.5px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 100px rgba(100, 91, 91, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-webkit-scrollbar);
  transition: all 0.3s ease-out;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: var(--color-webkit-scrollbar-hover);
}

/*-------------------------------------------------------------------------------------------*/

.hamburguer-menu {
  display: none;
}
.fa-bars {
  color: var(--color-hamburguer-menu);
}
.nav-bar {
  transition: opacity 150ms ease-in-out;
}
#bar {
  width: 19rem;
  min-height: 100vh;
}
.title-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.9rem;
  color: var(--color-title-light);
  background-color: var(--color-background-light);
  box-shadow: var(--box-shadow-title);
  width: 190px;
}
#main-title {
  color: var(--color-title-light);
  font-size: 2.4rem;
  margin-top: 1.8rem;
  margin-right: 0.5rem;
}
li {
  list-style: none;
}
.title-month {
  margin: 1.5rem;
  display: flex;
  display: flex;
  align-items: center;
  color: var(--color-title-light);
}
.input-user {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
input[type="search"] {
  padding: 0.75rem 0.1rem 0.75rem 0.9rem;
  outline: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #8f8f8f;
  border-right: none;
  width: 41rem;
  cursor: text;
  font-size: 1.5rem;
  border: 1px solid #348075;
  background-color: var(--color-background-input);
  color: var(--color-title-light);
  transition: 0.2s ease;
}
.btn-search {
  padding: 0.9rem 1rem;
  border: 1px solid #348075;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  background: #348075;
  color: #348075;
}
input[type="search"]:focus {
  background-color: var(--color-search-focus);
}
.nav-bar a {
  text-decoration: none;
  color: var(--color-text-light);
  display: flex;
  padding-left: 3rem;
  font-size: 1.7rem;
  height: 6.3rem;
  display: block;
  padding-top: 1.85rem;
  z-index: 2;
}
.header {
  background-color: var(--color-background-light);
  max-height: 11rem;
  width: 107.8%;
  box-shadow: var(--box-shadow-header);
  display: flex;
}
.list {
  transition: 0.2s ease;
  pointer-events: all;
}
.nav-bar .list:hover {
  background: var(--color-background-span-hover);
  border-left: 6px solid var(--color-border-span-hover);
}
#bar ul li.active {
  background: var(--color-background-span-hover);
  border-left: 6px solid var(--color-border-span-hover);
}
.nav-bar {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.icon {
  padding-right: 0.5rem;
}
.graphics {
  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  gap: 1rem;
  color: var(--color-black);
  margin-top: 2.5rem;
  padding-left: 1.5rem;
  position: relative;
  z-index: 1;
}
.date {
  padding: 1rem 2rem;
  background-color: var(--color-date-background);
  border-radius: 5px;
  margin-left: 1.5rem;
  transition: 0.3s ease;
  box-shadow: var(--box-shadow);
}
.date:hover {
  box-shadow: var(--box-shadow-date-hover);
}
input[type="month"] {
  background-color: transparent;
  color: var(--color-title-light);
  outline: none;
  border: none;
  cursor: text;
}
.total-sales,
.total-expenses,
.total-profit {
  background-color: var(--background-light);
  padding: 2rem 1rem 2rem 2rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;
  max-height: 27rem;
}
.title-icon {
  font-size: 2rem;
  padding-top: 2rem;
  margin-right: -0.7rem;
  padding-right: 1.5rem;
}
.total-sales,
.total-expenses,
.total-profit h1,
h2,
.goal {
  color: var(--color-subtitle);
}
.value {
  color: var(--color-subtitle);
  letter-spacing: 0.11rem;
}
.orders-title {
  color: var(--color-subtitle);
  padding-top: 1.6rem;
  padding-bottom: 0.1rem;
  text-transform: capitalize;
  padding-left: 2rem;
}
.month-employers {
  background-color: var(--background-light);
  padding: 1rem 1rem 0 1rem;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;
}
.month-employers:hover {
  box-shadow: none;
}
.title-aside {
  margin-bottom: 1rem;
  padding-top: 3.3rem;
  color: var(--color-subtitle);
}
.aside {
  position: absolute;
  left: 147rem;
  top: 9.4rem;
}
.first-one {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.last-one {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.users {
  font-size: 1.6rem;
  display: flex;
  padding-top: 0.4rem;
}
.fa-reddit-alien {
  padding-right: 0.65rem;
  color: var(--color-text-light);
  font-size: 2.3rem;
}
#icon-reddit-01 {
  color: #1e4ac2;
}
#icon-reddit-02 {
  color: #00cfa2;
}
#icon-reddit-03 {
  color: #4682b4;
}
#icon-reddit-04 {
  color: #c82800;
}
#icon-reddit-05 {
  color: #ff8000;
}
.users .fa-star,
.fa-star-half {
  padding-left: 0.1rem;
  margin-bottom: 2rem;
  color: var(--color-fa-star);
}
.about {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.position {
  border-bottom: var(--border-bottom);
  padding-bottom: 1.4rem;
  display: block;
  color: var(--color-text-light);
}
.last-position {
  border: none;
}
.sells {
  padding-bottom: 0.6rem;
  margin-top: 2rem;
  color: var(--color-text-light);
}
.employer-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.employer-name a {
  color: var(--color-subtitle);
  text-decoration: none;
  font-size: 1.7rem;
}
.star-1 {
  padding-left: 0.5rem;
}
.graphics-icons {
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--background-light);
  font-size: 2rem;
}
.fa-hand-holding-usd {
  background: linear-gradient(10deg, #4db4a7, #1f8f80);
  padding: 1.1rem;
  border-radius: 50%;
  color: var(--color-fa-circle);
}
.fa-coins {
  background: linear-gradient(10deg, #4db4a7, #1f8f80);
  padding: 1.1rem;
  border-radius: 50%;
  color: var(--color-fa-circle);
}
.fa-shopping-cart {
  background: linear-gradient(10deg, #4db4a7, #1f8f80);
  padding: 1.1rem;
  border-radius: 50%;
  color: var(--color-fa-circle);
}
.total-profit:hover {
  box-shadow: none;
}
.total-sales:hover {
  box-shadow: none;
}
.total-expenses:hover {
  box-shadow: none;
}
svg {
  width: 13rem;
  height: 13rem;
}
svg circle {
  fill: none;
  stroke: var(--color-circle);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.square-progress {
  position: relative;
  padding-left: 1.6rem;
}
.total-sales svg circle {
  stroke-dasharray: 260;
  stroke-dashoffset: 0;
}
.total-expenses svg circle {
  stroke-dasharray: 185;
  stroke-dashoffset: -79;
}
.total-profit svg circle {
  stroke-dasharray: 260;
  stroke-dashoffset: 0;
}
.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.value {
  position: absolute;
  top: 38%;
  left: 45%;
  font-size: 1.6rem;
  font-weight: 600;
}
.value-profit {
  left: 42%;
}
.value-expenses {
  left: 46%;
}
.goal {
  font-size: 1.5rem;
  font-weight: 600;
}
.last-month {
  font-size: 1.2rem;
  margin-top: 0.1rem;
  color: var(--color-text-light);
}
.bold-title {
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 0.6rem;
  color: var(--color-subtitle);
}
.orders-p {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: var(--text-gray);
  border-bottom: var(--border-bottom);
  height: 3.3rem;
  padding-top: 0.3rem;
}
.p-last {
  border: none;
}
.orders {
  display: grid;
  grid-template-columns: 0.28fr 0.3fr 0.175fr 0.175fr;
  background-color: var(--background-light);
  border-radius: 10px;
  padding: 2rem;
  max-width: 825px;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;
  margin: 1.5rem;
  padding-left: 1.5rem;
}
.orders:hover {
  box-shadow: none;
}
.bold-title {
  margin-left: 5rem;
}
.see-All {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin-left: calc(-25rem);
}
.see-all-a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-see-all);
}
.see-all-a:hover {
  text-decoration: underline;
}
.fa-search {
  color: #fff;
}
.btns {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 0.15rem;
}
.btn-p {
  margin-left: 3.5rem;
  font-size: 1.8rem;
  color: var(--color-title-light);
}
.button {
  display: flex;
  justify-content: space-between;
  background: rgb(216, 216, 216);
  font-size: 1.8rem;
  width: 7rem;
  cursor: pointer;
  border-radius: 10px;
  height: 2.7rem;
  pointer-events: all;
}
.button span {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  pointer-events: all;
}
.button span .selected {
  background: #28a191;
  color: var(--color-nav_bar-hover);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-bottom: 1px;
}
.dark-btn {
  pointer-events: all;
  padding: 20rem;
  width: 100%;
}
.clients-grade {
  margin-top: 3.5rem;
}
.opinions {
  background-color: var(--background-light);
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  font-size: 1.8rem;
  max-width: 270px;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;
}
.opinions:hover {
  box-shadow: none;
}
.title-opinions {
  margin-bottom: 1.3rem;
  margin-top: -3.3rem;
  color: var(--color-title-light);
}
.fa-smile-beam {
  color: rgb(37, 187, 0);
}
.text-title {
  font-size: 1.4rem;
  font-weight: 600;
}
.text {
  font-size: 1.3rem;
}
.opinion {
  border-bottom: var(--border-bottom);
  padding-bottom: 1rem;
}
.see-All-2 {
  padding-bottom: 5rem;
}
.op-2,
.op-3,
.op-4 {
  padding-top: 0.85rem;
}
.op-4 {
  border: none;
}
.fa-meh {
  color: rgb(214, 175, 0);
}
.fa-angry {
  color: rgb(202, 0, 0);
}
.text-title a {
  text-decoration: none;
  color: var(--color-subtitle);
}
.text-title a:hover {
  text-decoration: underline;
}
.text p {
  color: var(--color-text-light);
}
.all-critics,
.all-employers {
  font-size: 1.5rem;
  color: var(--color-see-all);
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.all-employers:hover {
  text-decoration: underline;
}
.all-critics:hover {
  text-decoration: underline;
}

